name: sync-image

on:
  workflow_dispatch:  # 允许手动触发
  # schedule:
  #   - cron: '0 0 * * 0'  # 每周日执行一次 (UTC时间)

jobs:
  sync-images:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        registry: ${{ secrets.REGISTRY }}
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Install Skopeo
      run: |
        sudo apt-get update
        sudo apt-get install -y skopeo
        sudo curl -O https://cn-north-4-hdn-koocli.obs.cn-north-4.myhuaweicloud.com/cli/latest/huaweicloud-cli-linux-amd64.tar.gz
        sudo tar xf huaweicloud-cli-linux-amd64.tar.gz -C /usr/bin hcloud
        sudo rm -rf huaweicloud-cli-linux-amd64.tar.gz
        sudo /usr/bin/hcloud configure set --cli-profile=default --cli-lang=en --cli-mode=AKSK --cli-region=cn-east-2 --cli-access-key=${{ secrets.HW_ACCESS_KEY }} --cli-secret-key=${{ secrets.HW_SECRET_KEY }} --cli-agree-privacy-statement=true

    - name: Sync Images
      env:
        IMAGE_LIST: |
          ## source  -->  dest
          ## kubespheredev/builder-maven:v3.3.1-jdk17-podman    swr.cn-east-2.myhuaweicloud.com/ks/kubesphere/builder-maven:v3.3.1-jdk17-podman
          kubesphere/devops-jenkins:v4.2.0-2.346.3   swr.cn-east-2.myhuaweicloud.com/ks/kubesphere/devops-jenkins:v4.2.0-2.346.3
          kubesphere/ks-jenkins:v4.2.1-2.528.3       swr.cn-east-2.myhuaweicloud.com/ks/kubesphere/ks-jenkins:v4.2.1-2.528.3
          kubesphere/ks-jenkins:v4.2.1-2.528.1       swr.cn-east-2.myhuaweicloud.com/ks/kubesphere/ks-jenkins:v4.2.1-2.528.1
          kubesphere/ks-jenkins:v4.2.0-2.504.3       swr.cn-east-2.myhuaweicloud.com/ks/kubesphere/ks-jenkins:v4.2.0-2.504.3
          kubesphere/ks-jenkins:v4.2.0-2.504.2       swr.cn-east-2.myhuaweicloud.com/ks/kubesphere/ks-jenkins:v4.2.0-2.504.2
          kubesphere/ks-jenkins:v4.2.0-2.504.1       swr.cn-east-2.myhuaweicloud.com/ks/kubesphere/ks-jenkins:v4.2.0-2.504.1
       

      run: |
        echo "$IMAGE_LIST" | while read -r image; do
          [ -z "$image" ] && continue       # 跳过空行
          [[ "$image" =~ "#" ]] && continue  # 跳过注释行

          source_image="${image%% *}"
          dest_image="${image##* }"

          echo "Syncing $source_image → $dest_image"
          skopeo copy docker://$source_image docker://$dest_image

          if [ $? -eq 0 ]; then
            echo "✅  Sync succeeded: $source_image"

            repository=$(echo ${dest_image#*/ks/} | sed 's/\(.*\):.*/\1/')
            sudo /usr/bin/hcloud SWR UpdateRepo --namespace="ks" --repository="${repository//\//%24}" --is_public=true
          else
            echo "❌  Sync failed: $source_image"
            exit 1  # 失败时停止执行
          fi
        done
